<!--
 Copyright (c) 2014, 2016, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <h3>ЛОЯ теги для SKU</h3>
  <hr>
  <div>
      <br/>      
        <div class="oj-flex oj-flex-item"> 
            <div class="oj-col oj-sm-4">
                 <div class="oj-panel oj-margin">
                    <div id="addTag" class="oj-flex-item">
                        <div id="quickTagadd" class="frame">
                            <form class = "oj-form" id="newTagForm" data-bind="submit: addTag">
                                <div class="oj-form-layout" data-bind="with: tagModel">
                                <h3>Новый тег</h3><hr/>
                                    <div class="oj-flex">  
                                        <div class="oj-flex-item">
                                           <!-- <label class="oj-label" for="newId">Id тега</label> -->
                                            <label class="oj-label" for="newTag">Название тега</label>
                                        </div>                                       
                                        <div class="oj-flex-item">
                                            <!-- <input class="oj-inputtext-input" id="newId" maxlength='10' placeholder="Нов. Id"
                                                   data-bind="ojComponent: {component: 'ojLabel', value: attributes.tag_id}"
                                            /> -->
                                           
                                            <input class="oj-inputtext-input" id="newTag"  maxlength='50' placeholder="Введите название для тега"
                                                   data-bind="ojComponent: {component: 'ojInputText'
                                                                            ,value: attributes.tag
                                                                            ,invalidComponentTracker: $parent.tracker
                                                                            ,messagesCustom: $parent.validationMessages}"
                                            /> 
                                           
                                        </div>
                                        <div>
                                        <div class="oj-sm-float-end" id='buttons-container'>
                                           <!-- <button data-bind="click: function() {$parent.addTag()}, ojComponent: {component: 'ojButton', label: 'Добавить тег'}"></button>  -->
                                           <button id="submitBtn" class="oj-button"
                                               type="submit" data-bind="ojComponent:{component:'ojButton', label: 'Добавить тег'}">
                                           </button>
                                        </div>  
                                        </div>                                                       
                                </div>                                        
                              </div>               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="oj-flex oj-flex-item"> 
            <div class="oj-col oj-sm-4">
                <div class="oj-panel oj-margin">
                    <h3 class="oj-header-border" data-bind="text: 'Имеющиеся теги для SKU'"></h3> 
                    <br/>                    
                    <table id="Tags" summary="Tags" aria-label="Tags"
                           data-bind="ojComponent: {component: 'ojTable', 
                                                with: tagModel,
                                                data: tagsdatasource,                                                
                                                editMode: 'rowEdit',                                                
                                                rootAttributes: {style:'width: 100%; height:100%;'},
                                                columns: [ {headerText: '', id: 'c1', field: 'operation',
                                                            headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                                            style: 'min-width: 8em; max-width: 8em; width: 8em'},
                                                           {headerText: 'ID тега', id: 'c2',
                                                            headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                                            style: 'min-width: 8em; max-width: 8em; width: 8em'},
                                                           {headerText: 'Название тега', id: 'c3',
                                                            headerStyle: 'min-width: 12em; max-width: 24em; width: 16em',
                                                            style: 'min-width: 12em; max-width: 24em; width: 16em'}
                                                         ],
                                                         rowTemplate: getTagsRowTemplate
                                                },
                                        event: {ojoptionchange: selectionListener}">
                    </table>
                     <div class="oj-table-panel-bottom">
                        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: tagsdatasource, pageSize: 5 }"></div>
                    </div>
                    <script type="text/html" id="rowTemplateTags">
                        <tr>
                            <td>
                            <button data-bind="click: function() {$parent.deleteTag(tag_id)}, ojComponent: {component: 'ojButton', label: 'Удалить'}"></button>    
                            </td>
                            <td data-bind="text: tag_id" id="it1">
                            </td>
                            <td data-bind="text: tag" id="it2">
                            </td>   
                            
                        </tr>
                    </script>
                    <script type="text/html" id="editRowTemplateTags">
                        <tr>
                            
                            <td>
                                
                            </td>
                            <td data-bind="text: tag_id" id="it2">
                            </td>
                            <td>
                                <input type="text" id="it3" data-bind="ojComponent:{
                                              component: 'ojInputText',
                                              value: tag}">
                                </input>
                            </td>                          
                         
                        </tr>
                    </script>
                    
                </div>
                
            </div>     
            <div class="oj-col oj-sm-4">
                                
                <div class="oj-panel oj-margin">                
                    <h3 class="oj-header-border" data-bind="text: 'SKU c выбранным тегом'"></h3> 
                    <br/>                    
                    <table id="TagSKUs" summary="Tags" aria-label="Tags"
                           data-bind="ojComponent: {component: 'ojTable', 
                                                with: tagSKUModel,
                                                data: tagSKUsdatasource,                                                                                               
                                                rootAttributes: {style:'width: 100%; height:100%;'},
                                                columns: [ {headerText: '', id: 'c1', field: 'operation',
                                                            headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                                            style: 'min-width: 8em; max-width: 8em; width: 8em'},
                                                           {headerText: 'ID записи', id: 'c2',
                                                            headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                                            style: 'min-width: 8em; max-width: 8em; width: 8em'},
                                                           {headerText: 'Код SKU', id: 'c3',
                                                            headerStyle: 'min-width: 12em; max-width: 24em; width: 16em',
                                                            style: 'min-width: 12em; max-width: 24em; width: 16em'}
                                                         ],
                                                         rowTemplate: getTagSKUsRowTemplate
                                                }">
                    </table>
                    <script type="text/html" id="rowTemplateTagSKUs">
                        <tr>
                            <td>
                            <button data-bind="click: function() {$parent.deleteTagSKU(sku_tagged_id)}, ojComponent: {component: 'ojButton', label: 'Удалить'}"></button>
                            </td>
                            <td data-bind="text: sku_tagged_id" id="it1">
                            </td>
                            <td data-bind="text: sku" id="it2">
                            </td>   
                            
                        </tr>
                    </script>
                </div>
            </div>   
        </div>
  </div>
</div>