<!--
 Copyright (c) 2014, 2016, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <h3>Users Content Area</h3>
  <div>
      To change the content of this section, you will make edits to the files.html file located in the /js/views folder.
      <br>
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <div id="parentContainer" style="padding:10px">
          <oj-file-picker accept="[[acceptArr]]"
                          selection-mode="[[multipleStr]]"
                          on-select='[[selectListener]]'>
          </oj-file-picker>
        
          <div style="padding-top:8px"></div>
          <div class="oj-choice-item">
            <input id="selection" type="checkbox" class="oj-checkbox-nocomp" 
                   data-bind="checked: multiple" />
            <label for="selection" class="oj-checkbox-label-nocomp">Multiple Selection</label>
          </div>
        
          <label for="acceptFld" 
                 class="oj-label-nocomp">Accept</label>
          <textarea id="acceptFld"
                    rows="3"
                    class="oj-form-control oj-textarea-nocomp"
                    data-bind="value: acceptStr">
          </textarea>
        
          <div style="padding-top:8px">
            <label for="selected">Selected files: </label>
            <span id="selected" data-bind="text: ko.toJSON(fileNames)"></span>
          </div>
        </div>
      
      
  </div>
</div>
