<!--
 Copyright (c) 2014, 2016, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
<h3>Номенклатура (SKU) и теги</h3>

    <div class="oj-flex oj-flex-item">    
        <div class="oj-sm-4 oj-md-6 oj-col">                                
            <div class="oj-flex-item oj-panel oj-margin">                
            <h3 class="oj-header-border" data-bind="text: 'Список SKU для партнера Бир Мир'"></h3> 
         
               
       
            <br/>    
         
            <div class="oj-flex-bar oj-flex-item oj-sm-12 oj-md-8">
                <label class="oj-label" for="searchInput">Наименование содержит (2+)</label>
                <input id="searchInput" aria-label="search box" placeholder="Строка поиска" data-bind="value: nameSearch, valueUpdate: 'afterkeydown' , ojComponent: {component: 'ojInputText', rootAttributes:{'style':'max-width:100%;'} }" />                   
                <div id="searchIcon" class="demo-icon-sprite demo-icon-search demo-search-position"></div>
                <button class="oj-button" id="clearButton" data-bind="click: function() { clearClick() }, ojComponent: { component: 'ojButton', label: 'Clear', display: 'icons', chroming: 'half', icons: {start:'oj-fwk-icon oj-fwk-icon-cross03'}}">                    
                </button> 
            </div>
                        
            <table id="SKUs" summary="SKUs" aria-label="SKUs"
                   data-bind="ojComponent: {component: 'ojTable', 
                                        with: skuModel,
                                        data: skusdatasource,                                                                                               
                                        rootAttributes: {style:'width: 100%; height:100%;'},
                                        columns: [ {headerText: 'SKU', id: 'c1',
                                                    headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                                    style: 'min-width: 8em; max-width: 8em; width: 8em'},
                                                   {headerText: 'Наименование', id: 'c2',
                                                    headerStyle: 'min-width: 16em; max-width: 32em; width: 24em',
                                                    style: 'min-width: 16em; max-width: 32em; width: 24em'},
                                                   {headerText: 'ID категории', id: 'c3',
                                                    headerStyle: 'min-width: 12em; max-width: 24em; width: 16em',
                                                    style: 'min-width: 12em; max-width: 24em; width: 16em'}
                                                 ],
                                                 rowTemplate: getRowTemplateSKUs
                                        },
                                        event: {ojoptionchange: selectionListener}">
            </table>
            
            <div class="oj-table-panel-bottom">
                <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: skusdatasource, pageSize: 10 }"></div>
            </div>
            <script type="text/html" id="rowTemplateSKUs">
                <tr>
                    <td data-bind="text: sku" id="it1">
                    </td>
                    <td data-bind="text: name" id="it2">
                    </td>
                    <td data-bind="text: сategory_id" id="it3">
                    </td>   

                </tr>
            </script>
          </div>
        </div>   
        <div class="oj-col oj-sm-3">
            <div class="oj-panel oj-margin"> 
                <h3 data-bind="text: 'Теги для SKU: '"></h3>
                <h3 class="oj-header-border" data-bind="text: currentSKU">Теги для позиции с ID: </h3>                 
                <div>
                  <br/>                
                  <span id="select-value" data-bind="text: ko.toJSON(selectVal)"></span>
                </div>
                <br/>
                <label class="oj-label" for="select">Выберите необходимые теги</label>
                <input id="select" data-bind="ojComponent: {component: 'ojCombobox',  multiple: true, options: optionData, value: selectVal,
                     style: 'min-width: 24em; max-width: 32em; width: 24em'}"/>      
                <div class="oj-panel-bottom">
                    <div class="oj-sm-float-end" id='buttons-container'>                        
                        <button id="submitBtn" class="oj-button" data-bind="click: function() { saveTags() }, ojComponent: {component: 'ojButton', label: 'Сохранить'}">
                        </button>
                    </div>  
                </div>
                
            </div>
       
            <div class="oj-panel oj-margin">                
                <h3 class="oj-header-border" data-bind="text: 'Теги для выбранной позиции SKU'"></h3> 
                <br/>                    
                <table id="SKUTags" summary="Tags" aria-label="Tags"
                       data-bind="ojComponent: {component: 'ojTable', 
                                            with: tagSKUModel,
                                            data: tagSKUsdatasource,                                                                                               
                                            rootAttributes: {style:'width: 100%; height:100%;'},
                                            columns: [ 
                                                       { headerText: 'ID записи', id: 'c1',field: 'sku_tagged_id',
                                                         headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                                         style: 'min-width: 8em; max-width: 8em; width: 8em'},
                                                       { headerText: 'SKU', id: 'c2', field: 'sku',
                                                         headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                                         style: 'min-width: 8em; max-width: 8em; width: 8em'},
                                                       { headerText: 'Тег', id: 'c3',field: 'tag',
                                                         headerStyle: 'min-width: 12em; max-width: 24em; width: 16em',
                                                         style: 'min-width: 12em; max-width: 24em; width: 16em'}
                                                     ]
                                            }">
                </table>
                <script type="text/html" id="rowTemplateTagSKUs">
                    <tr>
                        
                        <td data-bind="text: sku_tagged_id" id="с1">
                        </td>
                        <td data-bind="text: sku" id="с2">
                        </td>
                        <td data-bind="text: tag" id="с3">
                        </td>   

                    </tr>
                </script>
            </div>
        </div>
    </div>
  
</div>
